<% provide(:title, "About") %>
<h1 class="about_heading">About</h1>
<p class="about_page">Welcome to JR's Performance Shop! The best online shop for all of your car performance needs.<br/>
We stock a full inventory of parts for domestic and foreign cars. Wether you are looking for just <br/>
an air intake and spark plugs, or a full turbo and engine rebuild kit, we have it or we can get it fast.<br/><br/>
Don't trust your ride to just anyone, get your parts here at JR's Performance and we garuntee it <br/>
will work! If not you can get a full refund or parts replacement! </p>
