<% provide(:title, "Support") %>
<h1>Customer Service</h1>
<%= image_tag("mechanic.jpg", :class => "custserv") %><br />
<p>Contact JR's Performance Inc. Customer Service at <%= mail_to "custserv@jrperf.com" %>.</p>