<% provide(:title, "Help") %>
<h1>Support</h1>
<%= image_tag("brokeDown.jpg", :class => "help") %><br />
<p>Contact JR's Performance Inc. at <%= mail_to "support@jrperf.com" %> for all your car problems!.</p>