<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>JR's Performance Shop</h1>

  <%= image_tag("homePage.jpg", :class => "logo_image") %>

  <h2>
    Everything for your ride under one site!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>

</div>