<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <br /><br />
      <%= current_user.name %><br />
			<%= current_user.email %><br />
			<%= current_user.phone %><br />
			<%= current_user.address %><br />
    </section>
  </aside>
</div>