@import "bootstrap-sprockets";
@import "bootstrap";

/* General Page Layout */

body {
  padding-top: 60px;
  background-color: lightgrey;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
